/* Layout Properties */
.secondR {
  top: 880px;
  left: 1215px;
  width: 367px;
  height: 296px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}
